body {
    background-color: blue;
}

.fly {
    width: 200px;
    height: 300px;
    background-color: aquamarine;
    margin-bottom: 10px;
    float: left;
    padding: 20px;
    border-style: double;
    border-color: rgb(100, 182, 24);
    border-width: 8px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

#farao {
    width: 200px;
    height: 300px;
    background-color: rgb(255, 127, 155);
    float: right;
    margin-bottom: 10px;
    padding:20px;
    border: 4px solid yellow;
    border-radius: 45px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sons {
    width: 100px;
    height: 100px;
    background-color: darkorange;
    margin: 5px;
}

.centra {
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 180px;
    position: absolute;
    top: 140px;
    left: 140px;
    padding: 30px;
    z-index: 9;
}
.pg {
    margin-top: 90px;
    margin-left: 10px;
}
.header {
    width: 100%;
    height: 60px;
    background-color: navy;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.cent {
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 180px;
    position: absolute;
    top: 440px;
    left: 140px;
    padding: 30px;
}
.punch {
    position: relative;
    top: 70px;
}
.punch:hover {
    color: white;
}
.logo {
    float: left;
}
.navv {
    float: right;
    padding-top: 15px;
}

.navv > a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    margin-right: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1.5px .5px orangered;
    font-size: 20px;
    transition-property: color;
    
}
.navv > a:hover {
    color: orange;
}
@keyframes sub {
    from {
        background-color: yellow;
        height: 50px;
    }
    to {
        background-color: red;
        height: 40px;
    }
}
.sub {
    width: 100px;
    height: 50px;
    position: relative;
    background-color: yellow;
    font-size: 18px;
    animation-name: sub;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@media screen and (max-width:700px) {
    body {
        background-color: rgb(0, 255, 64);
    }
    
    
    .centra {
        width: 300px;
        height: 300px;
        background-color: orange;
        border-radius: 180px;
        position: absolute;
        top: 140px;
        left: 140px;
        padding: 30px;
        z-index: 9;
    }
    .pg {
        margin-top: 90px;
        margin-left: 10px;
    }
    .header {
        width: 100%;
        height: 60px;
        background-color: navy;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
    }
    
    .cent {
        width: 300px;
        height: 300px;
        background-color: orange;
        border-radius: 180px;
        position: absolute;
        top: 440px;
        left: 140px;
        padding: 30px;
    }
    .punch {
        position: relative;
        top: 70px;
    }
    .punch:hover {
        color: white;
    }
    .logo {
        float: left;
    }
    .navv {
        float: right;
        padding-top: 15px;
    }
    
    .navv > a {
        text-decoration: none;
        color: aliceblue;
        text-transform: uppercase;
        margin-right: 5px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 1.5px .5px orangered;
        font-size: 20px;
        transition-property: color;
        
    }
    .navv > a:hover {
        color: orange;
    }
    @keyframes sub {
        from {
            background-color:rgb(0, 255, 255);
            height: 50px;
        }
        to {
            background-color: blue;
            height: 40px;
        }
    }
    .sub {
        width: 100px;
        height: 50px;
        position: relative;
        background-color: rgb(0, 255, 255);
        font-size: 18px;
        animation-name: sub;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
    }
}